<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Week2-Homework</title>
    <link rel="stylesheet" , text="text/css" href="..\static\style.css" />
</head>

<body>
    <div class="title_bar">
        <a href="https://imgur.com/dq7kHkq"><img id="website_logo" src="https://i.imgur.com/dq7kHkq.jpg" title="source: imgur.com" /></a>
        <div id="title_text">全國最大的彈幕影片平台</div>
    </div>
    <div class="menu_bar">

        {% for i in menutexts %}
        <!--
        <div class="menu_text">首頁</div>
        <div class="menu_text">推薦影片</div>
        <div class="menu_text">最多觀看</div>
        <div class="menu_text">發燒影片</div>
        <div class="menu_text">尊榮會員</div>
-->
        <div>{{i}}</div>
        {% endfor %}
    </div>
    <div class="frame">
        <div class="now_playing_box">
            <div id="now_playing_title">NYKD-54</div>
            <a href="https://imgur.com/ZE10xS3"><img id="now_playing_video" src="https://i.imgur.com/ZE10xS3.jpg" title="source: imgur.com" /></a>
            <div class="comment_box ">
                <form id="send-form">
                    <input type="text" name="name" id="name" placeholder="暱稱">
                    <input type="text" name="msg" id="msg" placeholder="給點彈幕吧？">
                    <input type="submit" id="submit" value="送出">
                </form>
            </div>
        </div>
        <div class="video_box">
            <ul style="width:100%">
                <li id="side_title">影片清單</li>
                <li class="sidebar">
                    <div id="side_video_title">Blens-S Opening</div>
                    <a href="https://imgur.com/j7tdcAF"><img id="side_video" src="https://i.imgur.com/j7tdcAF.jpg" title="source: imgur.com" /></a>
                </li>
                <li class="sidebar">
                    <div id="side_video_title">[Winds]職業選手到底交不交得到女朋友</div>
                    <a href="https://imgur.com/t3R1mII"><img id="side_video" src="https://i.imgur.com/t3R1mII.jpg" title="source: imgur.com" /></a>
                </li>
                <li class="sidebar">
                    <div id="side_video_title">[Godjj實況精華]讓世界迎接GODJJ時代</div>
                    <a href="https://imgur.com/O418bdh"><img id="side_video" src="https://i.imgur.com/O418bdh.jpg" title="source: imgur.com" /></a>
                </li>
                <li class="sidebar">
                    <div id="side_video_title">[GODJJ]這就是逍遙谷的作法-俠客風雲傳</div>
                    <a href="https://imgur.com/dojnXrV"><img id="side_video" src="https://i.imgur.com/dojnXrV.jpg" title="source: imgur.com" /></a>
                </li>
                <li class="sidebar">
                    <div id="side_video_title">[Winss]弗利莎大王要來征服地球了</div>
                    <a href="https://imgur.com/ggiztkA"><img id="side_video" src="https://i.imgur.com/ggiztkA.jpg" title="source: imgur.com" /></a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>